* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #000000;
}

html {
    font-size: 62.5%;
}

/* apercu font family */
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu\ Light.otf);
}


/* futurak font family */
@font-face {
    font-family: futurak;
    src: url(../fonts/futurak.ttf);
}

/* butler font family */

@font-face {
    font-family: butler;
    src: url(../fonts/Butler/Butler_Medium.otf);
}

/* poppins font-family */
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Black.ttf);
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}


/* salt n pepper logo */
.logo {
    width: 150px;
    height: 70px;
    margin-left: 200px;
}



div ul {
    cursor: pointer;
    font-family: Apercu;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: 230px;
    font-size: 1.5rem;
}



div ul li a {
    text-decoration: none;

}


/* franchise button design */
.franchise {
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}


/* order button design */
.online {
    cursor: pointer;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    border-radius: 30px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav-button {
    gap: 10px;
    margin-right: 200px;
}

button img {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 6px;
    width: 18px;
    height: 20px;
}

.landing-image {
    width: 100%;
}

.info {
    font-family: Apercu;
    font-size: 4rem;
    text-align: center;
    width: 40vw;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}

.brand-logo {
    font-family: futurak;
    font-size: 5rem;
}

.intro {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffffb3;

}


.brands {
    width: 68vw;
    margin: 40px auto;
    /* margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; */

}

.sub-brands {
    margin: 13px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 20px;

}

/* .brands-button {
    text-align: center;
    padding-bottom: 60px;

} */

.button-design {
    border: 1px solid #ffffffb3;
    background-color: #000000;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 50px;
    /* margin: 10px 65px; */
}


/* .express-button {
    margin-right: 90px;
} */

/* .reserve-button {
    margin-left: 20px;
} */

.fourth-div {
    background-color: #0f0f0f;
}

.brand-info {
    font-size: 4.8rem;
    text-align: center;
    width: 50vw;
    padding-top: 60px;
    margin: 0 auto;
    line-height: 50px;

}

.brand-info1 {
    font-family: Apercu;
    font-size: 1.6rem;
    color: #ffffffb3;
}


.margin-top {
    margin-top: 70px;
}



/* fifth div designing */

.branch-name {
    line-height: 15px;
    font-family: Apercu;
    color: #ED1C24;
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 8px;
    letter-spacing: 0.48rem;
}

.logo-1 {
    font-size: 2.4rem;
    margin-bottom: 18px;
    color: #ffffff;
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
}

.logo-2 {
    font-family: Apercu;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.des-1 {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-bottom: 12px;
    text-align: center;
}

.d-button-1 {
    font-family: normal;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 40px;
    border: 1px solid #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    text-overflow: ellipsis;
}


.img-rad {
    border-radius: 3px;
}

.width-1 {
    width: 78vw;
    margin: 30px auto;

}

.width-2 {
    width: 68vw;
    margin: 20px auto;
}

.card-width {
    width: 25vw;
    margin: 0 auto;
}

.card-width2 {
    width: 22vw;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.mar-le {
    margin-left: 200px;
}

.mar-ri {
    margin-right: 190px;
}

/* fifth div design complete */


/* seventh div design */


.another-logo {
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}

.open {
    font-family: butler;
    font-size: 2.6rem;

}

.box {
    height: 230px;
    width: 320px;
    background-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 50px;
    margin: auto;
    gap: 30px;
    margin-bottom: 32px;
}

.open-1 {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
    letter-spacing: 0.48em;
    color: #ED1C24;
    margin-bottom: 8px;
    display: inline-block;
}

.snp {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 600;
}

.snp-1 {
    color: #000000;
    font-size: 2rem;
    font-weight: 200;
    line-height: 27px;
}


.box-width {
    width: 70vw;
    margin: 0 auto;
}

.social-img {
    width: 270px;
}

.gap {
    gap: 18px;
    margin-bottom: 70px;
}

.row-gap {
    row-gap: 20px;

}

/* last div design */

.f-width {
    width: 25vw;
}


.footer {
    padding-bottom: 24px;
    padding-right: 0px;
    text-align: left;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-top: 20px;
}

.social-icon {
    background-color: #ED1C24;
    border-radius: 30px;
    width: 35px;
}

.social-gap {
    gap: 20px;
    padding: 15px;
}


.final-pad {
    padding: 60px;
}

.end {
    width: 90%;
    margin: 0 auto;
}


/* About us page styles */

.restaurant {
    font-size: 3.2rem;
    font-family: Apercu;
}

.intro-width {
    width: 80vw;
    margin: 0 auto;
}

.para-width {
    padding: 35px 98px;

}

.gap-1 {
    gap: 60px;
}

.img-des {
    width: 300px;
    border-radius: 5px;
}

.gap-2 {
    gap: 15px;
}


/* publications design */

.bor-rad {
    width: 470px;
    height: 540px;
    margin: 50px 20px;
    border: 1px solid #ffffffb3;
}

.bor-rad-img {
    width: 520px;
    height: 480px;
    padding-right: 50px;
    padding-top: 35px;

}


/* feedback design*/

.container {
    position: relative;
    text-align: center;
    color: white;
}

.rel-img {
    width: 100vw;
    height: 800px;
    opacity: 0.5;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.cen-h1 {
    font-size: 4rem;
    font-family: Apercu;
    line-height: 1.2rem;

}

.feedback {
    font-size: 10rem;
    font-family: Apercu;
    font-weight: 800;
}

.feed-p {
    font-size: 2rem;
    font-family: sans-serif;
}