*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #000000;
}

html{
    font-size: 62.5%;
}

/* apercu font family */
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu\ Light.otf);
}


/* futurak font family */
@font-face {
    font-family: futurak;
    src: url(../fonts/futurak.ttf);
}


.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* salt n pepper logo */
.logo{
    width: 150px;
    height: 100px;
    margin-left: 200px;
}



div ul{
    cursor: pointer;
    font-family: Apercu;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: 230px;
    font-size: 1.5rem;
}



div ul li a{
    text-decoration: none;
    
}


/* franchise button design */
.franchise{
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}


/* order button design */
.online{
    cursor: pointer;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    border-radius: 30px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.nav-button{
    gap: 10px;
    margin-right: 200px;
}

button img{
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 6px;
    width: 18px;
    height: 20px;
}

.landing-image{
    width: 100%;
}

.info{
    font-family: Apercu;
    font-size: 4rem;
    text-align: center;
    width: 40vw;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}

.brand-logo{
    font-family: futurak;
    font-size: 5rem;
}

.intro{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffffb3;
    
}


.brands{
    width:58vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

.sub-brands{
    margin: 13px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 20px;
    
}

.brands-button{
    text-align: center;
    padding-bottom: 60px;

}

.button-design{
    border: 1px solid #ffffffb3;
    background-color: #000000;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 40px;
    margin: 10px 65px;
}


.express-button{
    margin-right: 90px;
}
.reserve-button{
    margin-left: 20px;
}

.fourth-div{
    background-color: #0f0f0f;
}

.brand-info{
    font-size: 4.8rem;
    text-align: center;
    width: 50vw;
    padding-top: 60px;
    margin: 0 auto;
    line-height: 50px;
    
}

.brand-info1{
    font-family: Apercu;
    font-size: 1.6rem;
    color: #ffffffb3;
}