.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
}

.justify {
    justify-content: center;
}

.align {
    align-items: center;
}

.justify-left {
    justify-content: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-align {
    text-align: center;
}

.text-left {
    text-align: left;
}

.block {
    display: block;
}

.padding-bottom {
    padding-bottom: 40px;
}

.padding-top {
    padding-top: 40px;
}

.line-height {
    line-height: 35px;
}

.list-style {
    list-style: none;

}

.text-dec {
    text-decoration: none;
}

.margin-bottom {
    margin-bottom: 30px;
}

.font-size {
    font-size: 4rem;
}

.font-size-1 {
    font-size: 3.2rem;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 30px;
}

.color-1 {
    color: #ffffffb3;
}

.font-size-2 {
    font-size: 1.3rem;
}

.small-font {
    font-size: 1.6rem;
}





.butler {
    font-family: butler;
}





.salt-n-pepper {
    font-family: futurak;
    font-size: 3.2rem;
    line-height: 50px;
}

.city {
    font-family: Apercu;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.48em;
    color: #ED1C24;
}

.details {
    font-family: Apercu;
    color: #ffffffb3;
    font-size: 1.6rem;

}

.details-logo {
    background-color: #ffffffb3;
    width: 15px;
    cursor: pointer;
    margin-top: 10px;

}

.d-button {

    background-color: #ffffffb3;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 40px;
    border: 1px solid #ffffffb3;
    background-color: #0f0f0f;
    font-size: 1.4rem;

    cursor: pointer;
}

.btn-green {
    /* background-color: #ffffffb3; */
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 40px;
    /* border: 1px solid #ffffffb3; */
    background-color: #28a745;
    font-size: 1.4rem;

    cursor: pointer;

}

.anchor {
    text-decoration: none;
    color: #ffffffb3;
}

.brand-img {
    width: 480px;
    border-radius: 5px;
}


.bg-color1 {
    background-color: #0d0d0d;
}

.bg-color2 {
    background-color: #0f0f0f;
}

.brand-img-1 {
    width: 700px;
    border-radius: 5px;
}

.parent-div {
    gap: 150px;
    margin-top: 35px;
}

.second-child {
    margin-right: 130px;
    margin-top: 35px;
    /* gap: 30px; */
}

.margin {
    margin-left: 40px;
    /* padding-left: 50px; */
}

.third-child {
    gap: 120px;
    margin-top: 35px;
}